* {
	font-family: "Satoshi", sans-serif;
}
*, *::before, *::after {
	box-sizing: border-box;
}

.root {
	margin: 0;
	padding: 0;
}
.home {
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.link {
	color: black;
	text-decoration: none;
	font-weight: bold;
}
@media (max-width: 768px) {
	.home {
		padding: 0 16px;
	}
}
.shop {
	margin-top: 4rem;
	margin-bottom: 4rem;
}
.present {
	display: flex;
	width: 100%;
	margin-top: 3rem;
}

.present-container {
	width: 1240px;
	margin: 0 auto;
	display: flex;
	gap: 2rem;
}

.outlet-container {
	flex: 1;
}